#Ignore these files
*.log
builds/cic-server*.zip
minecraft/BotaniaVars.dat
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/openloader/.cache
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/TrashSlotSaveState.json
minecraft/usernamecache.json
minecraft/usercache.json
Create in Chaos.code-workspace
instance.cfg

#Ignore these folders
minecraft/.mixin.out/*
minecraft/backups/*
minecraft/config/*
minecraft/coremods/*
minecraft/global_data_packs/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/texturepacks/*
minecraft/Xaero*/*
natives/*
server/mods/*
server/world*

#Stop Ignoring these folders
!minecraft/config/brandon3055
!minecraft/config/fancymenu

#Stop Ignoring these files
!minecraft/config/xaerominimap.txt
!minecraft/config/forge-client.toml
!minecraft/config/quark-common.toml
!server/config/quark-common.toml
