#Ignore these files
*.log
builds/cic-server*.zip
builds/Forge*.zip
minecraft/BotaniaVars.dat
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/openloader/.cache
minecraft/patchouli_data.json
minecraft/realms_persistence.json
minecraft/reauth.toml
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/tconplanner/bookmark.dat
minecraft/TrashSlotSaveState.json
minecraft/usernamecache.json
minecraft/usercache.json
Create in Chaos.code-workspace
instance.cfg

#Ignore these folders
minecraft/.mixin.out/*
minecraft/backups/*
minecraft/config/*
minecraft/coremods/*
minecraft/crash-reports/*
minecraft/global_data_packs/*
minecraft/local/*
minecraft/logs/*
minecraft/mods/*
minecraft/resourcepacks/*
minecraft/saves/*
minecraft/screenshots/*
minecraft/texturepacks/*
minecraft/Xaero*/*
natives/*
server/openloader/.cache
server/mods/*
server/world*

#Stop Ignoring these folders
!minecraft/config/brandon3055
!minecraft/config/defaultoptions
!minecraft/config/fancymenu
!minecraft/config/ftbquests
!minecraft/config/waterstrainer
!server/config/waterstrainer

#Stop Ignoring these files
!minecraft/config/clienttweaks-client.toml
!minecraft/config/cyclic.toml
!minecraft/config/forge-client.toml
!minecraft/config/ftbchunks-client.json5
!minecraft/config/ftbchunks-client.toml
!minecraft/config/quark-common.toml
!minecraft/config/theoneprobe-client.toml
!minecraft/config/xaerominimap.txt
!server/config/cyclic.toml
!server/config/quark-common.toml
